
@import url('https://fonts.googleapis.com/css?family=Righteous');

@font-face {
	font-family: "Quicksand-Bold";
	src: url("../fonts/Quicksand-Bold.otf") format("opentype");
}

$sky-color: #B8D1EB;
$sand-color: #C5A98B;
$black: #000;
$maroon: #8B0000;
$coffee: #7a6b48;

body { 
	background-color: $sky-color;
	font-family: "Times New Roman", serif;
}

#outerwrapper { 
    width: 70%;
	margin: 0 auto;
}

.floatleft {	
	float: left;
	margin-right: 3%;
}

h1 {
	font-family: 'Righteous', cursive;
	font-size: 60px;
}

h2 {
	font-family: "Quicksand-Bold", Arial, sans-serif;
	font-weight: normal;
	font-style: italic;
}

main {	
	background-color: $sand-color;
	padding: 10px;
}

nav {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 200px;
		background-color: $sand-color;

		li {
			a {
				display: block;
				color: $black;
				padding: 8px 16px;
				text-decoration: none;

				&:hover:not(.active) {
					background-color: $coffee;
					color: $maroon;
				}
			}

			& > a.active {
				background-color: $coffee;
				color: $black;
			}
		}
	}
}

.floatright {
	float: right;
	margin-left: 3%;
}

main > ul {
	list-style-image: url(../images/tomatoeBullet.png);
}

main, footer { 
	clear: both;
}

footer {
	font-size: 0.75em;
	text-align: center;
	background-color: $coffee;
	padding: 10px 0px;
}